* {
    box-sizing: border-box;
    font-size: 0px;
}
@media only screen and (min-width: 768px) {
    .row1 {
        display: inline-block;
        height: 200px;
        width: 100%;
        background-color: #F5C6D6;
        border: 5px white solid;
    }
    .row2 {
        display: inline-block;
        height: 200px;
        width: 25%;
        background-color: #EE2E84;
        border: 5px white solid;
    }
    .row3 {
        display: inline-block;
        height: 200px;
        width: 50%;
        background-color: #85CFD8;
        border: 5px white solid;
    }
    .row4 {
        display: inline-block;
        height: 200px;
        border: 5px white solid;
    }
    .box1 {
        width: 75%;
        background-color: #8DC63F;
    }
    .box2 {
        width: 25%;
        background-color: #E76E34;
    }
}

@media only screen and (max-width: 768px) {
    .row1 {
        display: inline-block;
        height: 200px;
        width: 100%;
        background-color: #F5C6D6;
        border: 5px white solid;
    }
    .row2 {
        display: inline-block;
        height: 200px;
        width: 100%;
        background-color: #EE2E84;
        border: 5px white solid;
    }
    .row3 {
        display: inline-block;
        height: 200px;
        width: 100%;
        background-color: #85CFD8;
        border: 5px white solid;
    }
    .row4 {
        display: inline-block;
        height: 200px;
        border: 5px white solid;
    }
    .box1 {
        width: 100%;
        background-color: #8DC63F;
    }
    .box2 {
        width: 100%;
        background-color: #E76E34;
    }
}