body, html {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
}

li {
    list-style: none;
}

#listDiv {
    border: 2px black solid;
    width: 75%;
}

#todoList {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    padding-left: 0;
}

#listHead {
    border: black 5px solid;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: space-around;
    justify-content: space-around;
    
}