body, html {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
}

#headerDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#todoDiv > img {
    width: 150px;
}

#addTodo {
    /* display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between; */
    padding: 15px;
}

#addTodo > input, select, button {
    margin: 0 15px;
    padding: 5px;
}

#inputBttn {
    border-radius: 5px;
    width: 100px;
    padding: 5px;
    background-color: rgb(210, 61, 61);
}

#headDiv {
    border-bottom: black 5px solid;
    width: auto;
    display: grid;
    grid-template-columns: 13rem 13rem 13rem 13rem 13rem 13rem 13rem;
    align-items: center;
    justify-items: center;
    margin: 15px;
}

#todoList {
    /* width: auto;
    display: grid;
    grid-template-columns: 13rem 13rem 13rem 13rem 13rem 13rem 13rem;
    align-items: center;
    justify-items: center;
    margin: 15px; */
}

#todoDiv {
    width: auto;
    display: grid;
    grid-template-columns: 13rem 13rem 13rem 13rem 13rem 13rem 13rem;
    align-items: center;
    justify-items: center;
    margin: 15px;
}

#todoDiv > button {
    padding: 5px 20px;
    border-radius: 5px;
}