.link {
  font-size: 40px;
  color: black;
  text-shadow: -2px 2px #FFDE59;
}

nav {
  background-color: #FF443A;
  height: 10em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.footer {
  height: 10em;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #FF443A;
  bottom: 0;
}

.footer > a {
  font-size: 14px;
  text-shadow: -2px 2px #FFDE59;
  color: black;
}

.socIcons > a {
  margin: 0 10px;
}

.logo {
  height: 8em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #FFDE59);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
