.homePage {
    display: flex;
}
.search {
    background-color: #FFDE59;
    color: black;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.search > h1 {
    font-size: 80px;
    margin-top: -10px;
    margin-bottom: 15px;
    text-shadow: -2px 4px #FF443A;
    /* border: 1px black solid; */
}

.search > p {
    /* font-family: 'Caveat', cursive; */
    font-size: 25px;
    width: 30em;
    margin-bottom: 30px;
    /* border: 1px black solid; */
}

.homePageImg {
    width: 50%;
}

.btnDiv {
    width: 60em;
    /* border: 1px black solid; */
}

.btnDiv > button {
    background-color: #FF443A;
    border-radius: 20px;
    margin: 15px 35px;
    width: 10em;
    font-size: 20px;
    color: black;
}