.mangaPage {
    display: flex;
    height: 35rem;
    background-image: url("/Users/michaelbond/vschool/assignments/react-api-project/react-api-project/src/assets/manga_pic_2.jpg");
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: 100%;
    /* margin-right: 200px; */
    background-attachment: fixed;
}

.mangaSearch {
    background-color: rgb(255, 222, 89, .7);
    border-radius: 5%;
    border: 5px black solid;
    margin: 25px;
    color: black;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mangaSearch > h1 {
    font-size: 80px;
    margin-top: -10px;
    margin-bottom: 15px;
    text-shadow: -2px 4px #FF443A;
    /* border: 1px black solid; */
}

.mangaSearch > p {
    /* font-family: 'Caveat', cursive; */
    font-size: 30px;
    width: 30em;
    margin-bottom: 30px;
    /* border: 1px black solid; */
}

.mangaLists {
    display: flex;
    width: 50%;
    flex-direction: row;
    background-color: rgb(255, 222, 89, .7);
    border-radius: 5%;
    border: 5px black solid;
    margin: 25px;
    justify-content: space-around;
}

.mangaLists > .mangaReadList > h1 {
    font-size: 50px;
    color: black;
    text-shadow: -2px 4px #FF443A;
}
.mangaLists > .mangaWishList > h1 {
    font-size: 50px;
    color: black;
    text-shadow: -2px 4px #FF443A;
}

.mangaForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mangaForm > div > input {
    width: 15em;
    height: 3em;
    border-radius: 10px;
    margin: 0 15px;
    background-color: white;
    color: black;
    text-indent: 5px;
    font-size: 16px;
}

.mangaForm > button {
    background-color: #FF443A;
    border-radius: 20px;
    margin: 25px 0;
    width: 10em;
    font-size: 20px;
    color: black;
}

.mangaPageImg {
    width: 50%;
}

.mangaList {
    background-color: black;
    margin: auto;
    padding: 10px;
    text-align: center;
    display: grid;
    grid: auto auto / 20% 20% 20% 20% 20%;
}

.mangaList > div {
    background-color: #FFDE59;
    padding: 5px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
    border-radius: 15px;
}

.mangaList > div > h3 {
    font-size: 20px;
    color: black;
}

.mangaList > div > img {
    width: 50%;
}