* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    margin: 5px;
}

p {
    margin: 5px;
}

.user-container {
    display: flex;
    flex-direction: column;
    margin: 0 32px;
}

.favMovie-container {
    display: flex;
    flex-direction: column;
    margin: 0 32px;
}

.user {
    border: 1px solid #333;
    padding: 10px;
    margin: 5px;
}

.favMovie {
    border: 1px solid #333;
    padding: 10px;
    margin: 5px;
}

form {
    border: #333 1px solid;
    padding: 10px;
    margin: 5px;
}

input {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
    border: 1px solid #333;
    border-radius: 8px;
}

button {
    padding: 5px;
    border-radius: 4px;
    font-size: 16px;
}

.dlt-btn {
    background-color: firebrick;
    color: whitesmoke;
}

.edit-btn {
    background-color: cornflowerblue;
    color: whitesmoke;
}

.filter-form {
    width: 200px;
}